@model IEnumerable<Dados.Tarefa>
@{
    ViewBag.Title = "Tabela";
    Layout = null;
}

@foreach (var area in Model.Select(m => m.Area.nome).Distinct())
{
    <h3 style="font-weight:bold;">@area</h3>
    <div style="width:100%;border:1px solid black;height:0px"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(m=>m.Area.nome==@area))
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(model=> item.validade)
            </td>
            <td>
                @Html.DisplayFor(model=> item.obs)
            </td>
            <td>
                @Html.DisplayFor(model => item.Area.nome)
            </td>
            <td>
               <input class="editbtn" type="button" name="@item.codtodo" value="Editar"/>
                @Html.ActionLink("Details", "Details", new { id = item.codtodo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.codtodo })
            </td>
        </tr>

    }

</table>
}

<div id="containeredit" style="display:none;background-color:white;border:1px solid black;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:550px;height:500px;padding-left:5px;">
    
</div>


@Scripts.Render("~/bundles/jquery")

<script>
    $(function () {
        $(".editbtn").click((event) => {
            let ID = event.target.name;
            $("#containeredit").css("display", "block")
            $.post("Edit", { id: parseInt(ID) }, function (data) {
                $("#containeredit").html(data);
            }).done(()=>alert("Success!!")).fail(()=>alert("Failed!!"))
        })

    })
 </script>
