@model IEnumerable<Dados.Tarefa>
@{
    ViewBag.Title = "Tabela";
    Layout = null;
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.nome)
            </td>
            <td>
               <input class="editbtn" type="button" name="@item.codtodo" value="Editar"/>
                @Html.ActionLink("Details", "Details", new { id = item.codtodo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.codtodo })
            </td>
        </tr>
        
    }

</table>

<div id="containeredit" style="display:none;background-color:white;border:1px solid black;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:550px;height:500px;padding-left:5px;">
    
    </div>


@Scripts.Render("~/bundles/jquery")

<script>
    $(function () {
        $(".editbtn").click((event) => {
            let ID = event.target.name;
            $("#containeredit").css("display", "block")
            $.post("Tarefas/Edit", { id: parseInt(ID) }, function (data) {
                $("#containeredit").html(data);
            }).done(()=>alert("Success!!")).fail(()=>alert("Failed!!"))
        })

    })
 </script>
